{
	"moduleId": "brikcss",
	"plugins": [],
	"env": {
		"umd": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"node": "8.10",
							"browsers": ["last 2 versions", "> 2%"]
						},
						"modules": "umd"
					}
				]
			]
		},
		"node": {
			"presets": [
				[
					"env",
					{
						"targets": {
							"node": "8.10"
						}
					}
				]
			]
		}
	}
}
